// Import Bootstrap
@import 'bootstrap/scss/bootstrap';

// Custom styles
body {
    font-family: 'Inter', sans-serif;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    body {
        @apply font-sans text-base bg-white relative;
    }
}

@layer components {
    .sidebar-open {
        @apply translate-x-0;
    }
}
